<meta charset="UTF-8">
<title>QuntoCursos</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">QuintoCursos</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Inicio <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/curso/listar">Cursos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/profesor/listar">Profesores <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="/alumnos/listar">Alumnos <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/alumnos/consultas">Consultas</a>
      </li>
    </ul>
  </div>
</nav>
<div>
<form action=/alumnos/sumar method="post" enctype="multipart/form-data">
<input hidden th:value="${alumno.id}" name="idAlumno">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Profesor</label>
    <select class="form-control" id="exampleFormControlSelect1" name="idCurso">
      <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Sumar Curso<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </form>
    </div>
</body>
</html>