<meta charset="UTF-8">
<title>QuntoCursos</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
</head>
<body>
<div>
<form action=/alumnos/sumar method="post" enctype="multipart/form-data">
<input hidden th:value="${alumno.id}" name="idAlumno">
    <div class="form-group">
    <label for="exampleFormControlSelect1">Profesor</label>
    <select class="form-control" id="exampleFormControlSelect1" name="idCurso">
      <option th:each="curso : ${cursos}" th:value="${curso.id}" th:text="${curso.nombre}"></option>
    </select>
    </div>
    <button type="submit" class="btn btn-primary">Sumar Curso<i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    </form>
    </div>
</body>
</html>