<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>
 <div th:if="${exito!=null}" class="card text-white bg-success mb-3" >
		<div class="card-body">
			<h5 class="card-title">Exito</h5>
			<p class="card-text" th:text="${exito}"></p>
		</div>
	</div>
	
	<div th:if="${error!=null}" class="card text-white bg-danger mb-3" >
		<div class="card-body">
			<h5 class="card-title">Error</h5>
			<p class="card-text" th:text="${error}"></p>
		</div>
	</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Edad</th>
      <th scope="col">Historia</th>
      <th scope="col">Cursos</th>
      <th scope="col">Acciones</th>
      
    </tr>
  </thead>
  <tbody  th:each="alumno : ${alumnos}">
    <tr>
      <td th:text="${alumno.nombre}"></td>
      <td th:text="${alumno.edad}"></td>
      <td th:text="${alumno.historia}"></td>
      <td>
      <ul>
  <li th:each="curso : ${alumno.cursos}" th:text="${curso.nombre}"></li>
</ul>
      </td>
      <td>
      	<a th:href="@{/alumnos/mod/__${alumno.id}__}"><i class="fa fa-book"></i></a>
      	<a th:href="@{/alumnos/borrar/__${alumno.id}__}"><i class="fa fa-ban"></i></a>
      	<a th:href="@{/alumnos/sumarCurso/__${alumno.id}__}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
      	<a th:href="@{/alumnos/restarCurso/__${alumno.id}__}"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div>
	<a th:href="@{/alumnos/nuevo}"><button>Nuevo Alumno</button></a>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>