<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Horario</th>
      <th scope="col">Turno</th>
      <th scope="col">Profesor</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody  th:each="curso : ${cursos}">
    <tr>
      <td th:text="${curso.nombre}"></td>
      <td th:text="${curso.horarioInicio + ' - ' + curso.horarioFin}"></td>
      <td th:text="${curso.turno}"></td>
      <td th:if="${curso.profesor != null}" th:text="${curso.profesor.nombre+' '+curso.profesor.apellido}"></td>
      <td th:unless="${curso.profesor != null}">Sin profesor</td>
      <td>
      	<a th:href="@{/curso/mod/__${curso.id}__}"><i class="fa fa-book"></i></a>
      	<a th:href="@{/curso/borrar/__${curso.id}__}"><i class="fa fa-ban"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div>
	<a th:href="@{/curso/}"><button>Nuevo Curso</button></a>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>