<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>
<body>
<header th:replace="plantilla/template :: header"></header>
	<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Profesor</th>
      <th scope="col">Cursos</th>
      <th scope="col">Contacto</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  <tbody  th:each="profesor : ${profesores}">
    <tr>
      <td th:text="${profesor.nombre + ' ' + profesor.apellido}"></td>
      <td>
      <ul>
  <li th:each="curso : ${profesor.cursos}" th:text="${curso.nombre}"></li>
</ul>
      </td>
      <td th:text="${profesor.mail}"></td>
      <td>
      	<a th:href="@{/profesor/mod/__${profesor.id}__}"><i class="fa fa-book"></i></a>
      	<a th:href="@{/profesor/borrar/__${profesor.id}__}"><i class="fa fa-ban"></i></a>
      	<a th:href="@{/profesor/sumarCurso/__${profesor.id}__}"><i class="fa fa-plus-square" aria-hidden="true"></i></a>
      	<a th:href="@{/profesor/restarCurso/__${profesor.id}__}"><i class="fa fa-minus-square" aria-hidden="true"></i></a>
      </td>
    </tr>
  </tbody>
</table>
<div>
	<a th:href="@{/profesor/}"><button>Nuevo Profesor</button></a>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>