<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="plantilla/template :: head"></head>
<body>
		<header th:replace="plantilla/template :: header"></header>
<div th:if="${exito!=null}" class="card text-white bg-success mb-3" >
		<div class="card-body">
			<h5 class="card-title">Exito</h5>
			<p class="card-text" th:text="${exito}"></p>
		</div>
	</div>
	
	<div th:if="${error!=null}" class="card text-white bg-danger mb-3" >
		<div class="card-body">
			<h5 class="card-title">Error</h5>
			<p class="card-text" th:text="${error}"></p>
		</div>
	</div>

<div>
<form action=/curso/registro method="post" enctype="multipart/form-data">
  <div class="form-group">
    <label for="exampleInputEmail1">Nombre</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="nombre">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Turno</label>
    <select class="form-control" id="exampleFormControlSelect1" name="turno">
      <option>1 - Mañana</option>
      <option>2 - Tarde</option>
      <option>3 - Noche</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Horario Inicio</label>
    <input type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="horarioI">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Horario Fin</label>
    <input type="time" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" name="horarioF">
  </div>
  <div class="form-group">
    <label for="exampleFormControlSelect1">Profesor</label>
    <select class="form-control" id="exampleFormControlSelect1" name="profesor">
      <option th:each="profesor : ${profesores}" th:value="${profesor.nombre+' '+profesor.apellido}" th:text="${profesor.nombre +' ' + profesor.apellido}"></option>
      <option>Sin profesor</option>
    </select>
  <button type="submit" class="btn btn-primary">Registrar</button>
</form>
</div>
<footer th:replace="plantilla/template :: footer"></footer>
</body>
</html>